@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap');

* {margin:0; padding:0; box-sizing: border-box;}

html, body {
    width: 100%;
    height: 4096px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-bg-color: rgb(95,95,253);
    --primary-font-color: white;
    --header-font-size: 40px;
    --paragraph-font-size: 13px;
    --paragraph-line-height: 27px;

    --no-hyperlink-decoration: none;
    --heading-font : 'Alegreya Sans SC', sans-serif;
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 43px;
}

p {
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
}

img {
    max-width: 100%;
}

a {
    text-decoration: var(--no-hyperlink-decoration);
}

i {
    padding-left: 10px;
}

.btn {
    width: 180px;
    height: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 700;
}

#container {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
    box-sizing: border-box;
}

#company-logo {
    margin-left: 145px;
    font-family: var(--heading-font);
    font-weight: 1000;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0 50px;
}

nav ul li {
    margin: 20px 60px;
    font-size: var(--paragraph-font-size);
}

nav ul li a {
    color: var(--primary-font-color);
    font-size: var(--paragraph-font-size);
}

/* .section {
    display: flex;
} */

#intro {
    width: 100%;
    height: 753px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

#intro-text {
    width: 500px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 250px;
}

#intro-text h1 {
    font-size: 50px;
    font-family: var(--heading-font);
    letter-spacing: 7px;
}

#intro-text p {
    margin: 25px 0;
    width: 350px;
    line-height: var(--paragraph-line-height);
}

#intro-text .btn {
    color: var(--primary-bg-color);
}

#intro-image {
    margin: 55px 0 0 55px;
}

#about {
    width: 100%;
    height: 825px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 620px;
    height: 570px;
    /* margin-right: 150px; */
}

#about-text p {
    width: 400px ;
    font-size: var(--paragraph-font-size);
}

#approach {
    height: 820px;
    width: 100%;
    display:flex;
    flex-direction: row;
    background-color: var(--primary-bg-color);
}

#approach-img {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    /* background-color: blanchedalmond; */
}

#approach-text {
    width: 55%;
    height: 802px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#approach-heading {
    width: 100%;
    height: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;

}

#approach-para {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    margin-bottom: 250px;
    padding: 0 200px 0 80px;
    font-size: var(--paragraph-font-size);
    color: var(--primary-font-color);
}

#approach-para p {
    margin: 15px;
    line-height: var(--paragraph-line-height);
}

#approach-para a {
    margin: 45px 0 0 15px;
    color: white;
}

#client-section {
    width: 100%;
    height: 820px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#client-section .heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1180px;
    margin-bottom: 200px;
}

#logo-row {
    width: 1180px;
    height: 230px;
    /* background-color: powderblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.client-logo {
    height: 190px;
    width: calc(100% /7);
    background-color: white;
    box-shadow: 3px 3px 10px rgba(40, 40, 40, 0.2);
}

.client-logo img {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 125px;
    margin: 50px auto;
}

#contact {
    width: 100%;
    height: 815px;
    background-color: rgb(46,46,70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-text {
    width: 1222px;
    height: 233px;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
}

#contact-desc {
    width: 296px;
    height: 233px;
    /* background-color: darkblue; */
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact-details {
    width: 690px;
    height: 233px;
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding-left: 30px;
    color: var(--primary-font-color);
}

#name-field {
    margin-right: 50px;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 290px;
  }

#message-field input {
    width: 631px;
}

#send-inquiry {
    width: 236px;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#send-inquiry .btn {
    margin-bottom: 70px;
}

